.cont {
  position: relative;
  text-align: center;
  color: white;
  height: 400px;
  background-image: url(https://www.paho.org/sites/default/files/styles/max_1500x1500/public/2020-07/dandelion-mask-green.jpg?itok=uk9EK8wZ);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}







.mainindex{
    background-image: url(../assets/ong.png);
    background-size: contain;
    background-repeat: round;
}


